<tr>
  <th><%= shopping_cart.product.name %></th>
  <td><%= shopping_cart.product.unit_price %></td>
  <td>
  	<%= form_for(shopping_cart) do |f| %>
		  <div class=’form-group’>
		    <%= f.number_field :quantity, value: shopping_cart.quantity, min: "1", step: "1", class: "form-control", onchange: "this.form.submit();" %>
		  </div>
		<% end %>
  </td>
  <td><%= shopping_cart.product.unit_price * shopping_cart.quantity %></td>
  <td> <%= link_to "delete", shopping_cart, method: :delete %> </td>
</tr>