<% provide(:title, "Products") %>

<h1> Products </h1>

<div class="row">
	<div class="col-md-3"> 
		<div><%= link_to "All", root_path %></div>
		<% @categories.each do |category| %>
			<div> <%= link_to category.name.capitalize, root_path(category_id: category.id) %> </div>
		<% end %>
	</div>
	<div class="col-md-9">
		<%= will_paginate %>
		<% @products.each_slice(3) do |slice| %>
			<div class="row">
				<% slice.each do |product| %>
					<div class="col-md-4">
						<%= render product %>						
					</div>
				<% end %>
			</div>
		<% end %>
		<%= will_paginate %>
	</div>
</div>